{% load staticfiles %}


<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">



    <title>Система контроля оборудования ЭТЦП И РПРПК</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom styles for this template -->

  </head>

  <body class="bg-light">

    <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Система контроля оборудования</a>
      <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
        {% url 'index' as url %}
          <li class="nav-item {% if request.path == url %} active {% endif %}">
            <a class="nav-link" href="{{ url }}">Прием/Выдача <span class="sr-only">(current)</span></a>
          </li>
        {% url 'list_operations' as url %}
          <li class="nav-item {% if request.path == url %} active {% endif %}">
            <a class="nav-link" href="{{ url }}">Список операций</a>
          </li>
          <li class="nav-item {% if request.resolver_match.url_name == 'hard_detail' %} active {% endif %}>">
            <a class="nav-link" href=""> Оборудование </a>
          </li>

        <li class="nav-item {% if request.resolver_match.url_name == 'worker_detail' %} active {% endif %}>">
            <a class="nav-link" href="">Сотрудники</a>
          </li>

{#            <li class="nav-item">#}
{#            <a class="nav-link" href="{% url 'register_user' %}">Добавление сотрудников</a>#}
{#          </li>#}
<!--
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Формирование отчетов</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#">Отчет по сотруднику </a>
              <a class="dropdown-item" href="#">Отчет по оборудованию</a>
              <a class="dropdown-item" href="#">Отчет по менеджеру выдачи</a>
            </div>
          </li>
    -->
        </ul>
      </div>
     <ul class="nav navbar-nav float-md-right">
         <li class="nav-item">

       <a href="{%  url 'exit' %}" class="nav-link">  Вы зашли как:<b> {{ user }} ({{ user.first_name }} {{  user.last_name }}</b>) Выход</a>
         </li>
     </ul>
    </nav>






    <main role="main" class="container" style="margin-top: 150px;">


       {% block content %}
        {% endblock content %}



    </main>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


    {% ifnotequal user.groups.all.0.name 'Менеджеры выдачи' %}

        <script language="JavaScript">

        window.location.href='/login_page/';

        </script>

    {% endifnotequal %}



    <script language="JavaScript">



      function hard_input(id,manual)
      {
          $.get('hard_input/', {hard_id: id, worker_id:$('#worker_id').val()}, function(data){

                $('#inputrem'+data).remove();

                });



      }




      function rem_item(id)
        {

            $("#item"+id).remove();

            $('#hardw_select_id option[value='+id+']').css('display','block');


        }

        function select_worker(worker_id,manual_select)
        {

            var this_worker;

            $.getJSON('get_worker/', {worker_id:worker_id}, function(data){


                //console.log(data);

                $('#worker_name').html(data.fields.first_name+' '+data.fields.last_name);

                $('#worker_id').val(data.pk);

                get_worker_hard(data.pk);

                $("#give_hard_btn").removeAttr('disabled');
                $("#input_hard_btn").removeAttr('disabled');

                });



              if(manual_select==1) $('#manual_selected').val('True');

              $('#workers').modal('hide');

        }

        function unselect_worker()
        {
             $('#worker_name').html('');

            $('#worker_id').val();

            $("#give_hard_btn").attr('disabled','disabled');

            $("#input_hard_btn").attr('disabled','disabled');

        }

        function get_worker_hard(worker_id)
        {
            $('#hardw_list_input').html('');
            $.getJSON('get_worker_hard/', {worker_id:worker_id}, function(data1){

                console.log(data1);

                $.each( data1, function( key, val ) {

                 //  console.log(val.fields.hard_id);

                   $.getJSON('get_hard_object', {hard_id:val.fields.hard_id}, function(data2){

                       var date = new Date(val.fields.datetime);
                       var mon = ('0'+(1+date.getMonth())).replace(/.?(\d{2})/,'$1');
                       var a=date.toString().replace(/^[^\s]+\s([^\s]+)\s([^\s]+)\s([^\s]+)\s([^\s]+)\s.*$/ig,'$2.'+mon+'.$3 $4');





                  {#    $('#hardw_list_input').append(' <div id="item_inp" class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">\n' +#}
                  {#'            <div class="d-flex justify-content-between align-items-center w-100">\n' +#}
                  {#'              <strong class="text-gray-dark">'+data2.fields.title+'</strong>\n' +#}
                  {#'Выдано: '+ a +#}
                  {#'<input type="checkbox" class="">' +#}
                  {#'            </div>\n' +#}
                  {#'            <span class="d-block"><br></span>\n' +#}
                  {#''+#}
                  {#'          </div>');#}


                       $('#hardw_list_input').append('<tr id="inputrem'+data2.pk+'"><td>'+data2.fields.title+'</td><td align="center">'+a+'</td><td align="center"><input type="checkbox" disabled="disabled" class=""></td><td align="center"><input type="checkbox" value="'+data2.pk+'" class="select_manual"></td></tr>');




                   });



                        });

                });

        }




      $(document).ready(function(){

          //Выбор оборудования вручную

          $('#select_hardw').click(function () {


              var hard_name = $('#hardw_select_id').find('option:selected').text();
              var hard_id = $('#hardw_select_id').find('option:selected').val();



              $('#hardw_list_output').append(' <div id="item'+hard_id+'" class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">\n' +
                  '            <div class="d-flex justify-content-between align-items-center w-100">\n' +
                  '              <strong class="text-gray-dark">'+hard_name+'</strong>\n' +
                  '              <a onclick="rem_item('+hard_id+')" style="cursor:pointer;" id="rem'+hard_id+'" class="rem_item"">Удалить</a>\n' +
                  '            </div>\n' +
                  '            <span class="d-block"><br></span>\n' +
                  '<input type="hidden" class="hard_id" name="hads_id" value="'+hard_id+'">' +
                  '<input type="hidden" class="not_stock" name="not_stock[]" value="'+hard_name+'">' +
                  '          </div>');

              $('#hardw_select_id').find('option:selected').removeAttr("selected");
              $('#hardw_select_id').find('option:selected').css('display','none');


              $('#hardw_select_id option[value=""]').removeAttr('selected').attr('selected','selected');
              $('#select_hardw').attr('disabled','disabled');



          $('.rem_item').click(function () {

              alert($(this).attr('id'));

          });



          });


          $('#hardw_select_id').change(function () {

             if($('#hardw_select_id option:selected').val()!='')
             {
                 $('#select_hardw').removeAttr('disabled');
             }
             else  $('#select_hardw').attr('disabled','disabled');

          });


          $('#select_worker_btn').click(function () {


              var worker_id = $('#worker_select_id').find('option:selected').val();

              select_worker(worker_id,1);




          });

          $('#give_hard_btn').click(function(){

        if ($('#worker_id').val()!='') {



            $.each($('.hard_id'),function () {

                $.get('hard_output/', {hard_id: $(this).val(), worker_id:$('#worker_id').val()}, function(data){

                $('#rem'+data).after('<font color=green>Выдано</font>');

                $('#rem'+data).remove();

                });

            {#$('#in_pocess').remove();#}
            {##}
            {#$('#sucess').attr('class','d-block text-right mt-3');#}




            });
            alert('Оборудование выдано');
                window.location.href='/';

              }

              else alert('Сотрудник не выбран');

          });

         $('#input_hard_btn').click(function () {


             $(".select_manual:checkbox:checked").each(function () {

                 hard_input($(this).val(),1);

             });

            alert('Оборудование принято');
          window.location.href='/';

         });

      });

  </script>


  </body>
</html>