{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

    <div class="mt-3 p-3 bg-white rounded box-shadow">
        <h6 class="border-bottom border-gray pb-2 mb-0">Поиск по оборудованию</h6>
        <div class="media  pt-3">

            <div class="media-body pb-3 mb-0 border-bottom border-gray">

        <form action="{% url 'hard_list' %}" method="get">
    {%  csrf_token %}
<div class="input-group mb-2 col-md-5">
  <input type="text" name="title" value="{% if request.GET.title %}{{ request.GET.title }}{% endif %}" class="form-control" placeholder="Наименование оборудование" aria-label="Наименование оборудование" aria-describedby="basic-addon2">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="submit">Найти</button>
  </div>
</div>
</form>




            </div>
        </div>
    </div>


    <div class="mt-3 p-3 bg-white rounded box-shadow">
       {% if request.GET.title %}

            <h5 class="text-center"> Поиск по фразе:  <i>  {{ request.GET.title }} </i> </h5>

            {% endif %}

        <h6 class="pb-2 mb-0"><b>Оборудование</b></h6>
        <div class="media  pt-3">

            <table class="media-body pb-3 mb-0 border-bottom border-gray">

            <table class="table">
                <tr>
                    <th><b>Наименование</b></th>
                    <th>Статус</th>
                    <th>Использовалось</th>
                    <th>В ремонте</th>
                    <th>Описание оборудования</th>
                </tr>


 {% for list in object_list %}

<tr>
<td>
    <a href="{% url 'hard_detail' list.pk %}"> {{ list.title }} </a>
</td>
<td>
{% if list.status %}На складе{% else %}
    <b>Выдано:</b> {{ list.hardonworker_set.first.worker_id.first_name }} {{ list.hardonworker_set.first.worker_id.last_name }}
{% endif %}
</td>

<td>
{% for key, value in object_list_used.items %}

        {% if key == list.pk %}

            {{ value }}

        {% endif %}


        {% endfor %}
</td>

<td>
    {% if list.repair %}<span class="text-danger">В ремонте</span>{% else %}
    <span class="text-success">Исправно</span>
{% endif %}
</td>

        <td>
            {{ list.meta_description }}
        </td>

     </tr>


 {% endfor  %}

</table>


            </div>
        </div>
    </div>




{% endblock %}