{% extends "base.html" %}
{% load staticfiles %}



{% block content %}
        <script type="text/javascript" charset="utf-8">
            var lastMsg;
            var lastMsg_ident;
            var socketio = null;
            var namespace = "/work";
            function showImg() {
                $.get( location.protocol + '//' + document.domain + ':' + 5000 + "/img", function( data ) {
                    if (data != '')
                        $( "#imgResult" ).html( "<img src='data:image/png;base64, " + data + "' width='150'>");
                });
            }

            function connect() {

                socketio = io.connect(
                    location.protocol + '//' + document.domain + ':' + 5000 + namespace
                );
                socketio.off().on("re_connect", function(msg) {
                    console.log("Соединение со сканером установлено");
                    $(".report").html(msg.msg + "<br />");
                });
            }

            function start_ident() {
                socketio.emit("start_ident");
            }

            function stop_ident() {
                socketio.emit("stop_ident");
            }

            function show_ident_btn() {
                $("#stop_ident").hide();
                $("#start_ident").show();
                $("#imgResult").html("");
                $("#div1").show();
                $("#div2").show();
            }
            function show_stop_ident_btn() {
                $("#start_ident").hide();
                $("#stop_ident").show();
                $("#imgResult").html("");
                $("#div1").hide();
                $("#div2").hide();
            }

            $(document).ready(function() {

               connect();
               socketio.on("update", function(msg) {
                    //if (lastMsg_ident !== msg.msg) {
                        //console.log(msg.user_id);
                        if (msg.user_id !== undefined) {
                            if (msg.user_id !== -1)
                                show_ident_btn();
                            showImg();
                        }
                      //  lastMsg_ident = msg.msg;
                    // $(".report").html(msg.msg + "<br />");
                        select_worker(msg.user_id,0);
                    //}
                });

                // identification
                $("#start_ident").click(function() {
                    start_ident();
                    show_stop_ident_btn();
                });
                $("#stop_ident").click(function() {
                    stop_ident();
                    show_ident_btn();
                });

            });

        </script>

<form action="/">

<div class="mt-3 p-3 bg-white rounded box-shadow">
        <h6 class="border-bottom border-gray pb-2 mb-0">Сотрудник</h6>
        <div class="media  pt-3">

            <div class="media-body pb-3 mb-0 border-bottom border-gray text-center">
                <div id="imgResult"></div>

                <div class="report">
                    <b></b>
                </div>
              <button type="button" name="start_ident" id="start_ident" class="btn btn-outline-primary">Сканировать</button>
              <button type="button" name="stop_ident" id="stop_ident" class="btn btn-outline-danger" style="display: none;">Остановить сканирование</button>
              <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#workers">Выбрать вручную</button>

                <div id="worker_data">

                    <h1 id="worker_name">



                    </h1>

                    <input type="hidden" value="" id="worker_id" name="worker_id">
                    <input type="hidden" value="" id="manual_selected" name="manual_selected" value="False">

                </div>




            </div>
        </div>


</div>

      <div class="mt-3 p-3 bg-white rounded box-shadow" id="div1">
        <h6 class="border-bottom border-gray pb-2 mb-0">Оборудование у сотрудника</h6>



        <div>

            <table class="table">
                <tr style="font-weight: bold;">
                    <th width="40%">Наименование оборудования</th><td align="center" width="20%">Когда выдано</td><td align="center" width="20%">Принять автоматически</td><td align="center" width="20%">Принять вручную</td>
                </tr>
                <tbody id="hardw_list_input">

                </tbody>

            </table>


        </div>
        <small class="d-block text-right mt-3" id="in_pocess">
            <button type="button" class="btn btn-outline-danger" id="input_hard_btn" disabled="disabled">Принять оборудование</button>
        </small>

        <small style="display: none;" class="text-right mt-3" id="sucess" >
                <a type="button" href="/" class="btn btn-outline-success" id="">Оборудование по списку принято, продолжить</a>
        </small>

      </div>


    <div class="mt-3 p-3 bg-white rounded box-shadow" id="div2">
        <h6 class="border-bottom border-gray pb-2 mb-0">Оборудование для выдачи</h6>

        <div class="media text-muted pt-3">

          <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
          <button type="button" class="btn btn-outline-info">Сканировать</button>
              <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#hard">Выбрать</button>
          </p>
        </div>

        <div id="hardw_list_output">

        </div>
        <small class="d-block text-right mt-3" id="in_pocess">
                <button type="button" class="btn btn-outline-success" id="give_hard_btn" disabled="disabled">Выдать оборудование</button>
        </small>

        <small style="display: none;" class="text-right mt-3" id="sucess" >
                <a type="button" href="/" class="btn btn-outline-success" id="">Оборудование по списку выдано, продолжить</a>
        </small>

      </div>
 </div>
</form>

<div class="modal" tabindex="-1" role="dialog" id="workers">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Выбор сотрудника</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Сотрудники:</p>
          <select name="worker_id" id="worker_select_id" class="form-control">
                 <option value="">Выберите сотрудника</option>
              {% for item in  worker_list %}
                <option value="{{item.id}}">{{ item.last_name}} {{ item.first_name}}</option>
              {% endfor %}

          </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
        <button type="button" class="btn btn-primary" id="select_worker_btn">Выбрать</button>
      </div>
    </div>
  </div>
</div>


    <div class="modal" tabindex="-1" role="dialog" id="hard">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Выбор оборудования</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Оборудование:</p>
          <select name="hardw_id" id="hardw_select_id" class="form-control">
                 <option value="">Выберите оборудование</option>
              {% for item in  hardw_list %}
                <option value="{{item.id}}">{{ item.title }}</option>
              {% endfor %}

          </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
        <button type="button" class="btn btn-primary" id="select_hardw" disabled>Выбрать</button>
      </div>
    </div>
  </div>
</div>






{% endblock %}
