{% extends "base.html" %}
{% load staticfiles %}



{% block content %}
        <script type="text/javascript" charset="utf-8">
            var lastMsg;
            var lastMsg_ident;
            var socketio = null;
            var namespace = "/work";
            var socketio_hardware = null;
            var namespace_hardware = "/workhardware";
            function showImg() {
                $.get( location.protocol + '//' + document.domain + ':' + 5000 + "/img", function( data ) {
                    if (data != '')
                        $( "#imgResult" ).html( "<img src='data:image/png;base64, " + data + "' height='100'>");
                });
            }

            function connect() {

                socketio = io.connect(location.protocol + '//' + document.domain + ':' + 5000 + namespace);
                socketio_hardware = io.connect(location.protocol + '//' + document.domain + ':' + 5000 + namespace_hardware);

                socketio.off().on("re_connect", function(msg) {
                    console.log("Соединение со сканером установлено");
                    $(".report").html(msg.msg + "<br />");
                });
                socketio_hardware.off().on("re_connect_hardware", function(msg) {
                    $(".report_hardware").html(msg.msg + "<br />");

                });
            }

            function start_ident() {
                socketio.emit("start_ident");
            }

            function stop_ident() {
                socketio.emit("stop_ident");
            }

            function show_ident_btn() {
                $("#stop_ident").hide();
                //$("#start_ident").show();
                $("#imgResult").html("");
                $("#change_worker").show();
                $("#manual_select_worker").hide();
                //$("#hardware_container").show();
            }
            function show_stop_ident_btn() {
                $("#start_ident").hide();
                $("#stop_ident").show();
                $("#stop_ident").attr('disabled', false);
                $("#imgResult").html("");
                $("#hardware_container").hide();
                unselect_worker();
            }
            function start_hardware() {
                show_stop_hardware_btn();
                socketio_hardware.emit("start_hardware");
            }
            function stop_hardware() {
                $('.stop_hardware').attr('disabled', 'disabled');
                $('.report_hardware').html('Остановка сканирования...');
                socketio_hardware.emit("stop_hardware");
            }
            function show_start_hardware_btn() {
                $(".start_hardware, .stop_hardware").remove();
                $("#hardware_btn_container").prepend('<button type="button" class="btn btn-info start_hardware" onclick="start_hardware()">Сканировать оборудование</button>');
            }
            function show_stop_hardware_btn() {
                //$("#start_ident").attr('disabled', 'disabled');
                $(".start_hardware, .stop_hardware").remove();
                $("#hardware_btn_container").prepend('<button type="button" class="btn btn-danger start_hardware" onclick="stop_hardware()">Остановить сканирование</button>');
            }


            $(document).ready(function() {

               connect();
               socketio.on("update", function(msg) {
                    //if (lastMsg_ident !== msg.msg) {
                        //console.log(msg.user_id);
                        if (msg.user_id !== undefined) {
                            if (msg.user_id !== -1) {
                                show_ident_btn();
                                select_worker(msg.user_id, 0);
                                start_hardware();
                            }
                            showImg();
                        }
                        if (msg.ident_scanner !== undefined) {
                            if (msg.ident_scanner === "stop") {
                                show_ident_btn();
                            }
                        }
                      //  lastMsg_ident = msg.msg;
                        $(".report").html(msg.msg + "<br />");
                    //}
                });

                socketio_hardware.on("update", function(msg) {
                    $('.report_hardware').html(msg.msg);

                    if (msg.uhf_id !== undefined) {
                        if (msg.uhf_id !== "") {
                            insert_hahdware_to_list(msg.uhf_name, msg.uhf_dbid, msg.uhf_status, msg.uhf_repair, 1);
                        } else {
                        }
                    }

                    if (msg.hardware_scanner !== undefined) {
                        if (msg.hardware_scanner === "stop") {
                            show_start_hardware_btn();
                            //$("#start_ident").attr('disabled', false);
                        }
                    }
                });

                // identification
                $("#start_ident").click(function() {
                    start_ident();
                    show_stop_ident_btn();
                });
                $("#stop_ident").click(function() {
                    $('#stop_ident').attr('disabled', 'disabled');
                    stop_ident();
                    //show_ident_btn();
                });

                $("#change_worker").click(function(){
                    stop_hardware();
                    top.location.href = "/";
                });

                // hardware
                //$(".start_hardware").on("click", function() {
                //});
                //$(".stop_hardware").on("click", function() {
                //});

                $("#start_ident").click();
            });

        </script>

<form action="/">

<div class="mt-3 p-2 bg-white rounded box-shadow">
        <h6 class="border-bottom border-gray pb-2 mb-0">Сотрудник</h6>
        <div class="media pt-3">

            <div class="media-body pb-3 mb-0 border-bottom border-gray text-center">
                <div class="row">
                    <div class="col-3 text-right">
                        <div id="imgResult"></div>
                    </div>

                    <div class="col-6 text-left">
                        <div class="report">
                            <b></b>
                        </div>
                        <button type="button" name="start_ident" id="start_ident" class="btn btn-outline-primary" style="display: none;">Сканировать</button>
                        <button type="button" name="stop_ident" id="stop_ident" class="btn btn-outline-danger" style="display: none;">Остановить сканирование</button>
                        <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#workers" id="manual_select_worker">Выбрать сотрудника вручную</button>
                        <button type="button" class="btn btn-outline-primary" onclick="top.location.href='/'" id="change_worker" style="display: none;">Изменить сотрудника</button>

                        <div id="worker_data">
                            <h1 id="worker_name"></h1>
                            <input type="hidden" value="" id="worker_id" name="worker_id">
                            <input type="hidden" value="" id="manual_selected" name="manual_selected" value="False">
                        </div>
                    </div>

                    <div class="col-3 text-left">
                        <div id="worker_photo"></div>
                    </div>

                </div>





            </div>
        </div>
</div>

<!-- блок со списком оборудования -->
<div id="hardware_container"  style="display:none;">

    <div class="media text-muted pb-2 pt-2 mt-2">
            <div class="container">
                <div class="row text-center">
                    <div class="col-2 offset-5">
                        <div class="btn-group" id="hardware_btn_container">
                          <button type="button" class="btn btn-info start_hardware" onclick="start_hardware()">Сканировать</button>
                          <button type="button" class="btn btn-outline-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                          </button>
                          <div class="dropdown-menu">
                            <a class="dropdown-item start_hardware" href="#">Сканировать</a>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#hard">Выбрать вручную</a>
                          </div>
                        </div>
                        {#                <button type="button" class="btn btn-outline-info">Сканировать</button>#}
                        {#                <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#hard">Выбрать</button>#}
                    </div>
                    </div>
                    <div class="row text-center">
                    <div class="col-12 text-center report_hardware">
                    </div>
                </div>
            </div>
        </div>

    <div class="row justify-content-around">

    <div class="mt-2 p-3 bg-white rounded box-shadow col-md-5" id="div1" >
        <h6 class="border-gray pb-2 mb-0">Оборудование у сотрудника</h6>
            <!--<div class="media text-muted pb-2 border-bottom ">
                <div class="container">
                    <div class="row">
                        <div class="col-3 hardware_worker_btn_container">
                            <button type="button" class="btn btn-info start_hardware" onclick="start_hardware()">Сканировать</button>
                        </div>
                    </div>
                </div>
            </div>-->
        <div>
            <table class="table table-hover ">
{#                <thead>#}
{#                    <tr style="font-weight: bold;">#}
{#                        <th scope="col">Наименование</th>#}
{#                        <th class="text-center" width="20%" scope="col">Принять</th>#}
{#                    </tr>#}
{#                </thead>#}
                <tbody id="hardw_list_input">
                </tbody>
            </table>
        </div>
        <small class="d-block text-right mt-3" id="in_pocess">
            <button type="button" class="btn btn-outline-danger" id="input_hard_btn" disabled="disabled">Принять оборудование</button>
        </small>

        <small style="display: none;" class="text-right mt-3" id="sucess">
            <a type="button" href="/" class="btn btn-outline-success" id="">Оборудование по списку принято, продолжить</a>
        </small>

    </div>




    <div class="mt-2 p-3 bg-white rounded box-shadow col-md-5 col-offset-2" id="div2">
        <h6 class="border-gray pb-2 mb-0  border-bottom">Оборудование для выдачи</h6>


        <div id="hardw_list_output">

        </div>
        <small class="d-block text-right mt-3" id="in_pocess">
            <button type="button" class="btn btn-outline-success" id="give_hard_btn" disabled="disabled">Выдать оборудование</button>
        </small>

        <small style="display: none;" class="text-right mt-3" id="sucess">
            <a type="button" href="/" class="btn btn-outline-success" id="">Оборудование по списку выдано, продолжить</a>
        </small>

    </div>
 </div>
    </div>
</form>

<div class="modal" tabindex="-1" role="dialog" id="workers">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Выбор сотрудника</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Сотрудники:</p>
          <select name="worker_id" id="worker_select_id" class="form-control">
                 <option value="">Выберите сотрудника</option>
              {% for item in  worker_list %}
                <option value="{{item.id}}">{{ item.last_name}} {{ item.first_name}}</option>
              {% endfor %}

          </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
        <button type="button" class="btn btn-primary" id="select_worker_btn">Выбрать</button>
      </div>
    </div>
  </div>
</div>


    <div class="modal" tabindex="-1" role="dialog" id="hard">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Выбор оборудования</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Оборудование:</p>
          <select name="hardw_id" id="hardw_select_id" class="form-control">
                 <option value="">Выберите оборудование</option>
              {% for item in  hardw_list %}
                <option value="{{item.id}}">{{ item.title }}</option>
              {% endfor %}

          </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
        <button type="button" class="btn btn-primary" id="select_hardw" disabled>Выбрать</button>
      </div>
    </div>
  </div>
</div>






{% endblock %}
