{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

    <div class="mt-3 p-3 bg-white rounded box-shadow">
        <h6 class="border-bottom border-gray pb-2 mb-0">Выберите файл, полученный со сканера меток</h6>
        <div class="media pt-3">
            <div class="media-body pb-3 mb-0 border-bottom border-gray">
                {% if form.file.errors %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                  {{ form.file.errors }}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                {% endif %}
                <form method="post" class="form-inline" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="form-group custom-file col-4">
                      {{ form.file }}
                  </div>
                  <button class="btn btn-primary ml-5" type="submit">Загрузить</button>
                </form>
            </div>
        </div>
    </div>

    {% if csv_list|length > 0 %}

        <div class="mt-3 p-3 bg-white rounded box-shadow">

            <h6 class="pb-2 mb-0"><b>Оборудование</b></h6>

            {% if csv_not_recognized_list|length > 0 %}
            {# не распознанные метки #}
                <div class="alert alert-danger" role="alert">
                    <a class="alert-link" data-toggle="collapse" href="#collapse_csv_not_recognized_list" role="button" aria-expanded="false" aria-controls="collapse_csv_not_recognized_list">
                        Не распознанно {{ csv_not_recognized_list|length }} меток
                    </a>
                    <div class="collapse" id="collapse_csv_not_recognized_list">
                        <div class="card card-body">
                            {% for not_recognized in csv_not_recognized_list %}
                                {{ not_recognized }}<br>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}

            <form action="{% url 'inventory_print' %}" method="post" target="_blank">
              {% csrf_token %}

                <div class="mb-2"><button type="submit" class="btn btn-outline-success">Распечатать</button></div>
                <table class="table">
                    <tr>
                        <th><b>Наименование</b></th>
                        <th>Наименование СВТ</th>
                        <th>Использовалось</th>
                        <th>Описание оборудования</th>
                    </tr>


                     {% for csv in csv_list %}
                        <tr>
                            <td>
                                <input type="hidden" name="csv_ids" value="{{ csv.pk }}">
                                {{ csv.title }}
                            </td>
                            <td>{{ csv.name }}</td>
                            <td>
                                {% for key, value in object_list_used.items %}
                                    {% if key == csv.pk %}
                                        {{ value }}
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td>{{ csv.meta_description }}</td>
                        </tr>
                    {% endfor %}
                </table>
                <div class="mt-2"><button type="submit" class="btn btn-outline-success">Распечатать</button></div>

            </form>
        </div>
    {% endif %}
{% endblock %}