{% extends "base.html" %}
{% load staticfiles %}
{% block content %}



    <div class="mt-3 p-3 bg-white rounded box-shadow">
        <h6 class="border-bottom border-gray pb-2 mb-0">Сотрудник</h6>
        <div class="media  pt-3">

            <div class="col-md-2">{% if profile.foto %}<img src="{{ profile.foto.url }}" height="150">{% endif %}</div>

            <div  class=" col-md-4 media-body pb-3 mb-0 border-bottom border-gray">


            <h2>{{ worker.first_name }} {{ worker.last_name }}</h2>

            </div>
        </div>
    </div>

    <div class="mt-3 p-3 bg-white rounded box-shadow">
        <h6 class=" pb-2 mb-0">Оборудование у сотрудника</h6>
        <div class="media  pt-3">

            <div class="media-body pb-3 mb-0 border-bottom border-gray">

            <table class="media-body pb-3 mb-0 border-bottom border-gray">

            <table class="table">
                <tr>
                    <th>
                         Дата/Время выдачи

                    </th>
                    <th>
                       Наименование оборудования
                    </th>
                </tr>


 {% for list in hard_on_worker %}

<tr>


        <td>
            {{ list.datetime }}
        </td>
<td>

        {{ list.hard_id.title }}

</td>

     </tr>


 {% endfor  %}

</table>

            </div>
        </div>
    </div>


    <div class="mt-3 p-3 bg-white rounded box-shadow">
        <h6 class=" pb-2 mb-0">Список операций</h6>
        <div class="media  pt-3">

            <div class="media-body pb-3 mb-0 border-bottom border-gray">



          <table class="media-body pb-3 mb-0 border-bottom border-gray">

            <table class="table">
                <tr>
                    <th>
                        Тип
                    </th>
                    <th>
                        Дата/Время
                    </th>
                    <th>
                        Наименование оборудования
                    </th>

                    <th>
                        Способ выдачи
                    </th>
                    <th>
                        Менеджер
                    </th>
                </tr>


 {% for list in hardtransaction_list %}

<tr {% if list.type %}class="table-danger"{% else %} class="table-success"{% endif %}>
<td>
{% if list.type %}Выдача{% else %}
    Прием
{% endif %}
</td>

        <td>
            {{ list.datetime }}
        </td>
<td>

    <a href="{% url 'hard_detail' list.hard_id.pk %}"> {{ list.hard_id }} </a>

</td>



<td>
{% if list.select_auto %}По RFID{% else %}
    Вручную
{% endif %}
</td>

<td>
{{ list.manager_id.first_name }} {{ list.manager_id.last_name }}
</td>


     </tr>


 {% endfor  %}

</table>

            </div>
        </div>
    </div>

{% endblock %}